.container {
  max-width: 600px;
  margin: auto;
  position: relative;
  margin-top: 80px;
}

.value {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
}

.account {
  color: #27ae60;
  font-size: 48px;
  width: 30%;
  font-family: 'Roboto';
}

.account:hover {
  border: none;
}

.expenses {
  margin-top: 5px;
  font-size: 28px;
  color: #EB5757;
}

.categories_container {
  display: -ms-grid;
  display: grid;
  grid-gap: 75px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 0 20%;
  margin-top: 60px;
}
